@use "../../../styles/extends.scss";

.complete {
	@extend %btn;

	width: 2rem;
	height: 2rem;

	border: 1px solid var(--text-color);

	&:hover {
		color: var(--todoApp-green);
		border-color: var(--todoApp-red);
		background-color: transparent;
	}

	// Not supported yet by Firefox
	// &:has(input:checked) {
	// 	color: var(--todoApp-red);
	// 	border-color: var(--todoApp-red);
	// }
}

.completed {
	@extend .complete;

	color: var(--todoApp-green);
}

.icon {
	@extend %icon;
}
