@use "../../styles/extends.scss";

.clearAll {
	@extend %btn;

	min-width: fit-content;
	border-radius: 0;

	&:hover {
		background-color: transparent;
		text-decoration: underline;
		color: var(--todoApp-color);
	}

	&:focus {
		outline: none;
		color: var(--todoApp-red);
	}
}
