.todoFooter {
	position: relative;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;

	padding-inline: 0.75rem;
	padding-top: 0.25rem;
	margin-bottom: 3rem;

	font-size: 1rem;
	z-index: 1;

	&::before {
		content: "";
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;

		height: 1rem;
		overflow: hidden;

		z-index: -1;

		/* prettier-ignore */
		box-shadow:
			0 1px 1px rgba(0, 0, 0, 0.2),
			0 8px 0 -3px var(--todoApp-background),
			0 8px 1px -3px rgba(0, 0, 0, 0.2),
			0 16px 0 -6px var(--todoApp-background),
			0 17px 2px -6px rgba(0, 0, 0, 0.2);
	}
}
