.todoApp {
	margin: 2.5rem;

	& section {
		background: var(--todoApp-background);
		color: var(--text-color);
		box-shadow: var(--todoApp-shadow);
	}

	& h1 {
		margin: 0;
		margin-bottom: 1.25rem;

		font-size: clamp(4rem, 20vw, 6rem);
		font-weight: 400;

		text-align: center;
		text-transform: lowercase;

		color: var(--todoApp-red);
		opacity: 0.5;
	}
}
