:where(body) {
	--background-color: #fff;
	--text-color: #000;
}
body {
	background-color: var(--background-color);
	color: var(--text-color);
	color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
	:where(body) {
		--background-color: hsl(228, 5%, 15%);
		--text-color: hsl(230, 12%, 90%);
	}
}
