@use "./styles/extends.scss";
@use "./styles/variables.scss";

* {
	box-sizing: border-box;

	&:focus {
		outline: 1px solid var(--todoApp-red-darkTheme);
	}
}

:where(body) {
	--background-color: var(--background-color-lightTheme);
	--text-color: var(--text-color-lightTheme);
	--text-color2: var(--text-color2-lightTheme);
	--todoApp-red: var(--todoApp-red-lightTheme);
	--todoApp-green: var(--todoApp-green-lightTheme);
	--todoApp-background: var(--todoApp-background-lightTheme);
	--todoApp-shadow: var(--todoApp-shadow-lightTheme);
	--todoApp-shadow-inner: var(--todoApp-shadow-inner-lightTheme);
	--todoApp-shadow-inner-sm: var(--todoApp-shadow-inner-sm-lightTheme);

	@media (prefers-color-scheme: dark) {
		--background-color: var(--background-color-darkTheme);
		--text-color: var(--text-color-darkTheme);
		--text-color2: var(--text-color2-darkTheme);
		--todoApp-red: var(--todoApp-red-darkTheme);
		--todoApp-green: var(--todoApp-green-darkTheme);
		--todoApp-background: var(--todoApp-background-darkTheme);
		--todoApp-shadow: var(--todoApp-shadow-darkTheme);
		--todoApp-shadow-inner: var(--todoApp-shadow-inner-darkTheme);
		--todoApp-shadow-inner-sm: var(--todoApp-shadow-inner-sm-darkTheme);
	}
}

body {
	color-scheme: light dark;

	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-size: 1rem;
	font-weight: 300;

	text-align: center;

	background-color: var(--background-color);
	color: var(--text-color);

	max-width: 45rem;
	margin: 0 auto;
	padding-inline: clamp(1rem, 6%, 2.5rem);
}
